@use "../variables" as vars;


.journey-detail {
    padding: 2rem 0;

    .journey-header {
        margin-bottom: 3rem;
        text-align: center;

        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
            line-height: 1.2;
        }

        .lead {
            font-size: 1.25rem;
            color: #666; // Consider using a variable if available, e.g. vars.$color-grey-dark
            max-width: 800px;
            margin: 0 auto;
        }
    }

    .journey-cover {
        margin-bottom: 3rem;
        border-radius: 8px;
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;

        img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
            display: block;
        }
    }

    .journey-entries {
        h2 {
            margin-bottom: 2rem;
            border-bottom: 1px solid #eee; // Consider variable e.g. vars.$color-grey-light
            padding-bottom: 1rem;
            @include use(h2);
        }
    }
}