.travel-entry-card {
    display: flex;
    flex-direction: column;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);

    &:hover {
        transform: translateY(-5px);
    }

    .image-container {
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 4px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
        }
    }

    &:hover .image-container img {
        transform: scale(1.1);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: .5rem 0;
    }

    h3 {
        @include use(h3);
    }

    .description {
        @include use(body);

        margin-bottom: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .meta {
        display: flex;
        gap: 1rem;

        @include use(small);

        span {
            display: inline-block;
            align-items: center;
            margin-right: 8px;
        }
    }
}

.entry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 4rem 2rem;
    padding: 4rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
}


/// Journey
/// 

.journey-section {
    text-align: center;
    position: relative;
    overflow: hidden;

    background-image: url(/icons/journey.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    .section-title {
        @include use(h1);
        position: relative;
        z-index: 2;
        padding: 8rem 0;
    }

    .journey-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 3rem;
        position: relative;
        z-index: 2;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
    }
}

.journey-card {
    position: relative;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    overflow: hidden;
    border-radius: 4px;

    &:hover {
        transform: translateY(-10px);
    }

    .image-container {
        aspect-ratio: 4.2 / 5.6;
        overflow: hidden;

        a {
            font-size: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
        }
    }

    &:hover .image-container img {
        transform: scale(1.1);
    }

    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2rem 1rem 4rem;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        color: vars.$color-white;

        h3 {
            @include use(h2);
        }
    }
}

.splide {
    padding: 4rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.splide__track {
    overflow: visible !important;
}


// countries
.country-section {
    padding: 4rem 2rem;
    max-width: 1400px;
    margin: 0 auto;

    .inside {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 3rem;

        h3 {
            @include use(h2);
            padding: 2rem 0;
        }

        ul li {
            margin-bottom: 1rem;
            @include use(large);

            span {
                display: inline-block;
                margin-right: .5rem;
            }
        }
    }
}