@use "globals.scss";
@use "variables.scss" as vars;
@use "/node_modules/flag-icons/sass/flag-icons";

@import "typography.scss";

@import "blocks/header.scss";
@import "blocks/footer.scss";
@import 'components';
@import "main.scss";
@import "mobile.scss";

// Pages
@import "pages/entry-detail";
@import "pages/journey-detail";
@import "pages/activities-list";